<h1 class="nayn">About Me</h1>
<p class="nayn-h1"> Hey there! I'm Justine Kyle B. Remulta, an enthusiastic recent graduate with a degree in BSIT. Eager to dive into the world of Web Development, I bring a fresh perspective and a hunger to learn. My goal is to become the best developer in this countr and I'm very excited about the intersection of being a web developer and am ready to contribute my energy and skills to dynamic projects. Let's embark on this journey together as I embark on my career adventure!</p>
<nav>
    <img style="margin-left: 500px;" src="/img/received_216863658080587-removebg-preview.png" alt="jpg" class="pic" >
</nav>