
<head>
 <style>
.fb{
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    margin-left: 200px;
    margin-bottom: 500px; 
}



 </style>
    

</head>
<body>
    <div>
        <h2 style="color: antiquewhite; margin-left: 200px;">Contact Us!</h2>
        <a class="fb" href="https://www.facebook.com/justine.remulta.5/">Justine Kyle B. Remulta</a>
        <h1 style="color: antiquewhite; margin-left: 200px;"> 0953 459 7561</h1>
    </div>
    <nav>
        <img style="width: 80px; height: 80px; margin-top: -150px; margin-left: 100px;" src="/img/download.png" alt="jpg">
    </nav>
</body>
</head>


