<section class="hp">
<div class="home"> 
<h1> Hi, I am <span>  Justine B. Remulta </span></h1>
<div class="animate">
    <h3> Aspiring Web Developer</h3>
</div>
<nav>
    <img style="margin-left: 30px;" src="/img/jj.png" alt="jpg">
</nav>
<h2 style="margin-left: -400px;"> To become a web developer is what I dreamt since I was in Highschool. I get excited by the idea of creating smooth and interesting online experiences as I picture myself diving into the variations of code, design, and problem-solving. The dynamic nature of web development not only appeals to my desire for constant learning but also aligns with my aspiration to contribute meaningfully to the ever-evolving landscape of the internet.  </h2>
</div>
</div>
</section>