<body class="res">
<h1 class="kyle-h1"> JUSTINE KYLE B. REMULTA</h1>
<h2 class="kyle-h2"> 09534597561 / justinekylebarangganremulta@gmail.com</h2>

<h3 class="jan-h3"> Personal Data </h3>
<ul class="jan-ul"> 
<p>Gender:          Female</p>
<p>Address:         Tankulan, Manolo Fortich, Bukidnon</p>
<p>Age:             21 years old</p>
<p>Date of Birth:   July 02, 2002</p>
<p>Religion:        Roman Catholic</p>
</ul>

<h3 class="jan-h3"> Educational Background </h3>
<ul class="jan-ul">
    <p class="tine-p"> Tertiary Education </p>
    <p> Northern Bukidnon State College </p>
    <p class="tine-p"> Secondary Education </p>
    <p> Labinay National High School  </p>
    <p class="tine-p"> Primary Education </p>
    <p> Labinay Elementary School </p>
</ul>

<h3 class="jan-h3"> Skills </h3>
<ul class="jan-ul">
    <li> Good written and communication skills </li>
    <li> Can work independently and as part of a team </li>
    <li> Organized and efficient </li>
</ul>

<h3 class="jan-h3"> Reference </h3>
<ul class="jan-ul">
    <p>Alieza Balles- 0961 080 7251</p>
    <p>Janine Grace P. Suello- 0953 459 7561</p>
    <p>Sarah Mae Suyat- 0951 196 0073</p>
</ul>
</body>